*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3f414e;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.navbar{
    background-color: #fefffe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* border: 1px solid black; */
    border-bottom: 1px solid #3f414e23;
    min-height: 40px;
}

.navbar img {
    width: 80px;
}

.nav-links ul{
    list-style-type: none;
    display: flex;
}

.nav-links ul li {
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

.nav-links ul li a:hover{
    color: #fc8019;
}

.login-btn{
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.body{
    padding: 0 100px;
}

.restaurantList{
    background-color: #fefffe;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 70vh;
}

.restaurantCard {
    margin: 10px 20px;
    width: 270px;
    height: 260px;
    transition: all 0.05s ease 0s;
}

/* .restaurantCard:hover{
    width: 95%;
    height: 65%;
    cursor: pointer;
    transition: all 0.15s ease 0s;
} */

.cardImageWrapper{
    width: 100%;
    height: 70%;
}

.cardImageWrapper img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.restaurantDesc{
    margin-top: 10px;
    padding-left: 12px;
}

.restaurantDesc h2{
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 24px;
    letter-spacing: -0.3px;
}

.restaurantDesc h6{
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-box input{
    padding: 10px;
    width: 40vw;
    border: 2px solid black;
    border-radius: 20px 0 0 20px;
}

.search-btn{
    border: 2px solid black;
    border-left: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    padding: 10px;
}

.footer{
    background-color: #000;
    margin-top: 10px;
    padding: 10px 20px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h4{
    color: #fefffe;
    margin-top: auto;
}

hr{
    margin: 10px 0;
    width: 100%;
}

.MenuCard{
    padding: 20px 25vw;
    background-color: #f2f1f6;
}

.menuCategory{
    border:1px solid black;
    padding: 10px;
    margin: 10px 0px;
}